.my-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin: 50px auto;
    max-width: 1200px;
    gap: 50px;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /* width: 500px; */
    gap: 20px;
}
.select-area {
    display: flex;
    align-items: center;
    gap: 20px;
}
.board {
    width: 800px;
    height: 800px;
    display: grid;
    box-shadow: 5px 5px 25px #ddd;
}
.btns {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
hr {
   height: 12px;
}